In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
train = pd.read_csv('train.csv', usecols=['item_seq_number', 'image_top_1', 'deal_probability'])

In [3]:
train.loc[:, 'image_top_1'] = train.image_top_1.fillna(-1)

In [4]:
train.item_seq_number.max(), train.item_seq_number.min()

(204429, 1)

In [5]:
train.image_top_1.max(), train.image_top_1.min()

(3066.0, -1.0)

In [6]:
temp = train.groupby('item_seq_number')['image_top_1'].nunique()
df = pd.DataFrame()
df['y'] = train.deal_probability
df['item_seq_number'] = train.item_seq_number
df['item_seq_number_nunqiue_img_top_1'] = df['item_seq_number'].map(temp)
df.corr()[['y']]

                                          y
y                                  1.000000
item_seq_number                   -0.035744
item_seq_number_nunqiue_img_top_1  0.120312

In [7]:
temp = train.groupby('image_top_1')['item_seq_number']
df = pd.DataFrame()
df['y'] = train.deal_probability
df['image_top_1'] = train.image_top_1
df['img_top_1_nunqiue_item_seq_number'] = df['image_top_1'].map(temp.nunique())
df['img_top_1_max_item_seq_number'] = df['image_top_1'].map(temp.max())
df['img_top_1_min_item_seq_number'] = df['image_top_1'].map(temp.min())
df['img_top_1_std_item_seq_number'] = df['image_top_1'].map(temp.std())
df['img_top_1_med_item_seq_number'] = df['image_top_1'].map(temp.median())
df.corr()[['y']]

                                          y
y                                  1.000000
image_top_1                        0.153968
img_top_1_nunqiue_item_seq_number  0.057862
img_top_1_max_item_seq_number      0.108130
img_top_1_min_item_seq_number     -0.005312
img_top_1_std_item_seq_number      0.062288
img_top_1_med_item_seq_number     -0.036304

In [8]:
import gc; gc.enable()
del train; gc.collect()

18

In [9]:
train = pd.read_csv('train.csv', usecols=['item_seq_number', 'image_top_1', 'activation_date'], parse_dates=['activation_date']) \
          .sort_values('activation_date') \
          .reset_index(drop=True) \
          .drop('activation_date', axis=1)

test = pd.read_csv('test.csv', usecols=['item_seq_number', 'image_top_1'])

In [10]:
all_df = pd.concat([train, test]).reset_index(drop=True)

In [11]:
all_df['image_top_1'] = all_df['image_top_1'].fillna(-1)

In [12]:
temp = all_df.groupby('item_seq_number')['image_top_1'].nunique()
all_df['item_seq_number_nunqiue_img_top_1'] = all_df['item_seq_number'].map(temp)
del temp; gc.collect()

42

In [13]:
temp = train.groupby('image_top_1')['item_seq_number']
all_df['img_top_1_nunqiue_item_seq_number'] = all_df['image_top_1'].map(temp.nunique())
all_df['img_top_1_max_item_seq_number'] = all_df['image_top_1'].map(temp.max())
all_df['img_top_1_min_item_seq_number'] = all_df['image_top_1'].map(temp.min())
all_df['img_top_1_std_item_seq_number'] = all_df['image_top_1'].map(temp.std())
all_df['img_top_1_med_item_seq_number'] = all_df['image_top_1'].map(temp.median())
del temp; gc.collect()

42

In [14]:
features = ['item_seq_number_nunqiue_img_top_1',
            'img_top_1_nunqiue_item_seq_number',
            'img_top_1_max_item_seq_number',
            'img_top_1_min_item_seq_number',
            'img_top_1_std_item_seq_number',
            'img_top_1_med_item_seq_number']

In [15]:
all_df.loc[:train.shape[0]-1, features].to_csv('train_itsq_img_top1_features.csv', index=False)
all_df.loc[train.shape[0]:, features].to_csv('test_itsq_img_top1_features.csv', index=False)