In [1]:
import pandas as pd
import numpy as np
import gc; gc.enable()

In [2]:
train = pd.read_csv('data/periods_train.csv', parse_dates=['activation_date', 'date_from', 'date_to'])
test = pd.read_csv('data/periods_test.csv', parse_dates=['activation_date', 'date_from', 'date_to'])
print(train.shape, test.shape)

(16687412, 4) (13724922, 4)

In [3]:
merge = pd.concat([train, test], axis=0).reset_index(drop=True)

In [4]:
merge = merge.sort_values('activation_date').reset_index(drop=True)

In [5]:
del train, test; gc.collect()

26

In [6]:
merge.head(5)

        item_id activation_date  date_from    date_to
0  0fceba64da0d      2017-01-01 2017-03-15 2017-03-17
1  e06329e1ce56      2017-01-01 2017-03-15 2017-03-17
2  0d3f55aa2786      2017-01-01 2017-04-12 2017-04-18
3  02530587479d      2017-01-01 2017-04-12 2017-04-18
4  a2971556d92b      2017-01-01 2017-03-15 2017-03-16

In [7]:
merge.shape

(30412334, 4)

In [8]:
merge.drop_duplicates(inplace=True)
merge.shape

(30412334, 4)

In [ ]:
(merge['date_from'][0]-merge['activation_date'][0]).days

73

In [ ]:
merge['new_index'] = merge['item_id'].astype(str) + ' ' + merge['activation_date'].astype(str)
merge.head(3)

In [ ]:
merge['new_index'][0]

In [ ]:
merge['duration_1'] = merge['date_from']-merge['activation_date']
merge['duration_2'] = merge['date_to']-merge['activation_date']
merge['duration_3'] = merge['date_to']-merge['date_from']

In [ ]:
merge.head(3)

In [ ]:
merge.loc[:,'duration_1'] = merge['duration_1'].dt.days; print('duration_1 done.')
merge.loc[:,'duration_2'] = merge['duration_2'].dt.days; print('duration_2 done.')
merge.loc[:,'duration_3'] = merge['duration_3'].dt.days; print('duration_3 done.')
merge.head(3)

In [ ]:
merge['renewed_count'] = merge.groupby('item_id').cumcount()

In [ ]:
merge['is_renewed'] = (merge['renewed_count'] > 0).astype(int)

In [ ]:
merge.set_index('new_index', inplace=True)
merge.head(3)

In [ ]:
merge.to_csv('ad_period_features.csv', index=True)